body {
	margin: 0;
	padding: 0;
}

.head-bar {
	 
	display: grid;
	grid-template: 50px / auto auto auto auto auto;
	grid-column-gap: 20px;
	justify-content: end;
	align-items: center;
	
}	

.ref {
	font-size: 14px;
	color: black;
	font-style: normal;
}


.user {
	border-radius: 10px;
	}

.main {
	text-align: center;
	height: 700px;
}



.search-box {
	width: 463; height: 39;
	background-color: #222;
	display: block;
	background: url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D") transparent;
	width: 100%; height: auto;
	z-index: 6;
}


.button {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 0 16px;
	text-align: center;
	display: inline-block;
	line-height: 27px;
	text-align: center;

}

footer {
	background-color: gray;
	width: 100%;
	height: 100px;

}

.row-2 {
	display: inline-block;
}

.left, p{
	display: inline;
	float: left;
	padding: 5px 10px;
}

.right, p {
	display: inline;
	float: right;
	padding: 5px 10px;
}

.left {
	width: 50%;
}

.right {
	width: 50%;
}

